*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

.form-group label{
	color: white;
}
.container #form{
	margin-bottom: 20px;
}
#register{
    background-color: #e8491d;
    border: none;
}
#register:hover{
    background-color: white;
    color: #e8491d;
}